@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --color-primary: #121418;
    --color-secondary: #6283FA;
    --color-accent: #4D4D4D;
    --color-cards: #2A2A2A;
    --color-padding: #1A1A1A;
    --color-validation: #58FAAE;
    --color-invalidation: #FA7272;
    --color-novalidation: #FF6A00;
    
    /* Text Colors */
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #BFBFBF;
    --color-text-muted: #6B6B6B;
    
    /* Background */
    --color-background: #121418;
    
    /* Spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --app-padding-horizontal: 21px;
    --app-padding-vertical: 21px;
    --app-padding-top: 60px;
    
    /* Font Sizes */
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 20px;
    --font-size-2xl: 24px;
    
    /* Border Radius */
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 24px;
    
  }
}

/* Apply default dark background to body/html */
html, body {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
}